body {
	background-image: url("/images/background-email-pattern.png");
	/* Background pattern from Toptal Subtle Patterns */
}

.flashCardsText {
	font-size: 200%;
	text-align: center;
}

.heightBlock {
	height: 200px;
	margin: auto;
}