<!DOCTYPE HTML>
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	<script src="scripts.js"></script>
	<title>Add Flash Cards</title>
</head>
<body>
<div class="container">
	<p class="h4 mb-4">Add New Flashcard</p>
	<form action="#" th:action="@{/save}"
						 th:object="${tempCard}" method="POST">
			
			<input type="text" th:field="*{english}"
					class="form-control mb-4 col-4" placeholder="English word">
			<input type="text" th:field="*{polish}"
					class="form-control mb-4 col-4" placeholder="Polish translation">
			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>
	
	<a th:href="@{/game}" class="ml-3">Back to Game</a>
</div>
</body>
</html>