<!DOCTYPE HTML>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	<script src="js/scripts.js"></script>
	<title>Flash Cards</title>
</head>
<body>
	<script th:inline="javascript">
	/*<![CDATA[*/
    	var cardsList = /*[[${cardsList}]]*/ 'default_text_error';
	/*]]>*/
	</script>

<div class="container">
<br>
<h2 th:inline="text">Flashcard to guess from bucket [[${cardsList.get(0).level}]]:</h2>
	<div class="heightBlock">
		<div>
			<p class="flashCardsText" id="en" th:text="${cardsList.get(0).english}"></p>
		</div>
		<div>
			<p class="flashCardsText" id="pl" hidden th:text="${cardsList.get(0).polish}"></p>
		</div>
	</div>
	<div class="row justify-content-md-center" align="center">
		<div class="col-2">
			<button onclick="changeVisibility()" class="btn btn-info mb-3">Translation</button>
		</div>
		<div class="col-2">
			<button onclick="nextCard(cardsList)" class="btn btn-info mb-3">Next</button>
		</div>
		<div class="col-2">
			<!-- <a th:href="@{/delete(id=${randomCard.id})}"
			class="btn btn-danger  mb-3"
			onclick="if(!(confirm('Are you sure you want to delete this flashcard?'))) return false">
			Delete
			</a> -->
		</div>
	</div>
</div>
<div class="row justify-content-md-left">
	<a th:href="@{/showFormForAdd}"
		class="btn btn-primary btn-sm ml-3">
		Add New Flashcard
	</a>
	<p class="lead ml-3"><b>Change bucket:</b></p>
	<form action="#" th:action="@{/game}" method="POST">
			<input type="submit" name="bucketNumber" value="1"
					class="btn btn-primary btn-sm ml-3"/>
			<input type="submit" name="bucketNumber" value="2"
					class="btn btn-primary btn-sm ml-3"/>
			<input type="submit" name="bucketNumber" value="3"
					class="btn btn-primary btn-sm ml-3"/>
	</form>
	
	
	<!-- <a th:href="@{/game}"
		class="btn btn-primary btn-sm ml-3">
		Level 1
	</a>
	<a th:href="@{/game}"
		class="btn btn-primary btn-sm ml-3">
		Level 2
	</a>
	<a th:href="@{/game}"
		class="btn btn-primary btn-sm ml-3">
		Level 3
	</a> -->
</div>

</body>
</html>